.search-bar-and-button{
    width: 600px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    /* top: 30%; */
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* height: 50px; */
}

.search-bar-and-button > button {
    margin-left: 10px;
}

.search--form{
    height: 200px;
    position: relative;
}

.errorMsg{
    position: relative;
    width: 300px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
}